/* * {
    border: solid 1px red;
} */

body {
    display: flex;
    justify-content: center;
    background-color: #ECE8DF;
}

#content-div {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

button {
    border-radius: 5px;
    background-color: #E9B57C;
    color: #ECE8DF;
    font-weight: bold;
    font-size: medium;
    width: 100px;
    height: 40px;
}

#displayWeapon {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 100px;
    width: 50vw;
    justify-content: space-evenly;
}

#results {
    font-size: 18px;
    font-weight: bold;
}

#scores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50vw;
    font-size: 20px;
}

#winCondition {
    font-size: 18px;
    font-weight: bold;
}